*{margin: 0;
    padding: 0;
}
body{

}
#backround{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}
ul{
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    color:black;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: xx-large;
    font-weight: bold;

}
ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#pagetit {
   text-align: center;
   color: black;
   font-size: xxx-large;
   font-family: 'Zen Tokyo Zoo', cursive;
   animation-name:title;
   animation-duration: 1s;
   animation-direction:alternate;
   animation-iteration-count: 2;
}
@keyframes title{
    0%{}
    100%{transform: scale(150%);}
}

#container{
   height: 200vh;
   width:100%;
   display: flex;
   flex-direction: column;
}
#haircutspics{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height:150vh;
 
  
}
#haircutspics img{
    width: 26%;
    height: 30%;
    border-radius: 10%;
    transition: 2s;
    margin-top:5vh ;
    border: 3px solid black;

    
}
#haircutspics img:hover{
    width: 32%;
    height:auto;
    display: block;
   
}



@media screen and (max-width:650px){ 
    #container{
        height: 600vh;
        width:100%;}
#haircutspics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:500vh;
    flex-wrap: wrap;
    
}
    #haircutspics img{
        width: 80%;
        height: 15%;
        border-radius: 10%;
        transition: 1s;
        margin-top:5vh ;
        
    }
    #haircutspics img:hover{
        width: 93%;
       
    }
    
}


#pricetable{
    display: flex;
  justify-content: center;
   margin-top: 10vh;
   width: 100%;
   
}


table,th, td {
    border: solid 2px black;
    border-collapse: collapse;
    padding: 15px;
    color:black;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    background: rgba(112, 128, 144, 0.418);
    font-size: x-large;
    
   
   
}
caption{
    font-size: xxx-large;
    font-family: 'Zen Tokyo Zoo', cursive;

}
#bookinglink a{
    font-size: xx-large;
    color: red;
    font-family: 'Merienda', cursive;

}
span{
    color: red;
}



   

